= form_builder.simple_fields_for :deployment_credential, @deployment.deployment_credential || @deployment.build_deployment_credential do |dc|
  = dc.simple_fields_for :aws_credential, dc.object.aws_credential || dc.object.build_aws_credential do |c|
    = c.input :aws_access_key_id, label: false, placeholder: :translate, wrapper_html: { class: 'aws' }, disabled: provider_blank?
    = c.input :aws_secret_access_key, label: false, placeholder: :translate, wrapper_html: { class: 'aws' }, disabled: provider_blank?
