= form_builder.input :access_key_id, wrapper_html: { class: 'aws' }, disabled: provider_blank? || @deployment.on?(:aws)
= form_builder.input :secret_access_key, wrapper_html: { class: 'aws' }, disabled: provider_blank? || @deployment.on?(:aws)
