@import 'base';
@import 'navbar';

.wrapper {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  .section {
    @include make-row;

    .content {
      @include make-sm-column(12);
    }
  }
}
