@import 'common';

// Bootstrap components
@import 'bootstrap/buttons';

// FontAwesome
@import 'font-awesome';
@import 'font-awesome-wrap';

.wrapper {
  @include container-fixed;

}

.section {
  @include make-row;
}

.title {
  text-align: center;
}

.content {
  @include make-sm-column(12);

}

.button {
  @include make-sm-column(3);

  &:first-child {
    @include make-sm-column-offset(3);
  }

  a {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    @include icon;
    @include center-block;
    font-size: 5em;

    &:before {
      margin: auto;
    }

    span {
      display: block;
      font-size: $font-size-h2;
    }
  }
}
